{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - M'inscrire{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ include('security/_form.html.twig', {title: 'M\'inscrire sur ' ~ app_name }) }}
{% endblock %}
