{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - A propos{% endblock %}


{% block body %}
    <h1>A propos de {{ app_name }}</h1>

    <div class="card">
        <h1 class="card-header">Qu'est-ce que c'est ?</h1>
        <div class="card-body">
            du blabla
        </div>
    </div>

    <div class="card mt-4">
        <h1 class="card-header">Le sujet proposé</h1>
        <div class="card-body">
            <h2>Création d’une plate-forme d’entraînement au SQL</h2>
            <p class="text-muted">Le but de ce projet est de concevoir une plate-forme web permettant de s’exercer au SQL pour des étudiants et permettre à l’enseignant de surveiller l’avancement de chacun. L’utilisateur principal sera un étudiant.</p>
            <h3>Les objectifs pédagogiques</h3>
            <ul>
                <li>L’étudiant utilisant cette plate-forme pourra aussi bien exécuter des requêtes de questionnement que des requêtes de création de tables, d’insertion de données.</li>
                <li>Pour utiliser la plate-forme l’étudiant devra s’identifier. Le niveau de sécurité sera à discuter avant de démarrer le projet.</li>
                <li>L’étudiant devra avoir le choix du type de base de données ( Mysql, postgresql et SQLite ).</li>
                <li>L’étudiant aura le choix de partir d’une base vierge ou d’une base de données existante.</li>
                <li>L’étudiant pourra faire un dump de sa base de données.</li>
                <li>L’étudiant pourra enregistrer l’historique de ses commandes.</li>
                <li>L’enseignant aura une interface de gestion des bases de données présentes sur la plate-forme ainsi que des utilisateurs.</li>
            </ul>

            <h3>Les contraintes</h3>
            <ul>
                <li>La plate-forme doit être facilement déployable d’un serveur web à l’autre.</li>
                <li>Présence d’interfaces pour paramétrer les différents SGBD.</li>
                <li>L’utilisation d’Ajax est souhaitable.</li>
                <li>La plate-forme doit être optimiser pour pouvoir s’exécuter sur une machine légère (RaspBerry Pi)</li>
                <li>Les interfaces doivent être intuitives pour l’étudiant.</li>
                <li>Un guide d’utilisation pour l’enseignant est demandé.</li>
                <li>Toutes les technologies employées devront être libre de droit.</li>
            </ul>
        </div>
    </div>
{% endblock %}


