{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - A propos{% endblock %}


{% block body %}
    <h1>A propos de {{ app_name }}</h1>

    <div class="card">
        <h1 class="card-header">Qu'est-ce que c'est ?</h1>
        <div class="card-body">
            SQL Training est une plate-forme d'entraiment au SQL. Tu peux jouer avec les différentes tables mises à ta disposition : sélectionner, modifier, insérér et même supprimer tous les données si tu le souhaites !
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="card mt-4">
        <h1 class="card-header">Guide d'utilisation</h1>
        <div class="card-body">
            <h2>Mysql</h2>
            <p class="text-muted">Quelques explications pour Mysql.</p>
            <h3>Les requêtes de création et de modification de table</h3>
            <p>
                Dans la page d'entrainement, les requetes de création et de modification de table vont interroger la base de données personnelle de l'utilisateur.
                <br>La base de données personnelle est automatiquement créer lorqu'un utilisateur s'enregistre sur le site. Elle est nommée sous la forme 'prénom_nom'.
                <br>L'utilisateur peut supprimer sa base de données directement depuis la page d'entrainement.

            </p>

            <h3>Les requêtes de questionnement</h3>
            <p>
                Dans la page d'entrainement, les requetes de questionnement vont interroger la base de données principale.
                <br>Pour modifier la base de données, vous devez accéder à celle-ci par vos propres moyens.
                <br>Pour que celle-ci soit prise en compte, il faudra modifier la variable DB_MYSQL dans votre fichier.env.
            </p>

            <h3>Ajouter un nouveau sujet</h3>
            <p>
                Pour ajouter un nouveau sujet, il faudra ajouter un nouveau fichier dans le répertoire public/exercices/mysql.
                <br>Il faut ensuite créer un nouveau répertoire sous la forme 'sujet'.
                <br>Le fichier doit être insérer dans ce dernier au format Json et doit être nommé 'sujet.json'.
            </p>


            <h2>Postresql</h2>
            <p class="text-muted">Quelques explications pour Postresql.</p>
            <h3>Les requêtes de création et de modification de table</h3>
            <p>
                Dans la page d'entrainement, les requetes de création et de modification de table vont interroger la base de données personnelle de l'utilisateur.
                <br>La base de données personnelle est automatiquement créer lorqu'un utilisateur s'enregistre sur le site. Elle est nommée sous la forme 'prénom_nom'.
                <br>L'utilisateur peut supprimer sa base de données directement depuis la page d'entrainement.

            </p>

            <h3>Les requêtes de questionnement</h3>
            <p>
                Dans la page d'entrainement, les requetes de questionnement vont interroger la base de données principale.
                <br>Pour modifier la base de données, vous devez accéder à celle-ci par vos propres moyens.
                <br>Pour que celle-ci soit prise en compte, il faudra modifier la variable DB_POSGRESQL dans votre fichier.env.
            </p>

            <h3>Ajouter un nouveau sujet</h3>
            <p>
                Pour ajouter un nouveau sujet, il faudra ajouter un nouveau fichier dans le répertoire public/exercices/postresql.
                <br>Il faut ensuite créer un nouveau répertoire sous la forme 'sujet'.
                <br>Le fichier doit être insérer dans ce dernier au format Json et doit être nommé 'sujet.json'.
            </p>


            <h2>Sqlite</h2>
            <p class="text-muted">Quelques explications pour Sqlite.</p>
            <h3>Les requêtes de création et de modification de table</h3>
            <p>
                Dans la page d'entrainement, les requetes de création et de modification de table vont interroger la base de données personnelle de l'utilisateur.
                <br>La base de données personnelle est automatiquement créer lorqu'un utilisateur s'enregistre sur le site. Elle est nommée sous la forme 'prénom_nom.db' dans le dossier public/sqlite.
                <br>L'utilisateur peut supprimer sa base de données directement depuis la page d'entrainement.

            </p>

            <h3>Les requêtes de questionnement</h3>
            <p>
                Dans la page d'entrainement, les requetes de questionnement vont interroger la base de données principale qui s'appelle 'admin.db. dans le dossier public/exercices/sqlite.
                <br>Pour modifier la base de données, vous devez accéder à celle-ci par vos propres moyens.
                <br>Pour que celle-ci soit prise en compte, il faudra modifier la variable DB_SQLITE dans votre fichier.env.
            </p>

            <h3>Ajouter un nouveau sujet</h3>
            <p>
                Pour ajouter un nouveau sujet, il faudra ajouter un nouveau fichier dans le répertoire public/exercices/sqlite.
                <br>Il faut ensuite créer un nouveau répertoire sous la forme 'sujet'.
                <br>Le fichier doit être insérer dans ce dernier au format Json et doit être nommé 'sujet.json'.
            </p>

            <h2>Gestion des utilisateurs</h2>
            <p class="text-muted">Quelques explications sur la gestion des utilisateurs.</p>
{#            <h3>Les requêtes de création et de modification de table</h3>#}
{#            <p>#}
{#                Dans la page d'entrainement, les requetes de création et de modification de table vont interroger la base de données personnelle de l'utilisateur.#}
{#                <br>La base de données personnelle est automatiquement créer lorqu'un utilisateur s'enregistre sur le site. Elle est nommée sous la forme 'prénom_nom'.#}
{#                <br>L'utilisateur peut supprimer sa base de données directement depuis la page d'entrainement.#}

{#            </p>#}

{#            <h3>Les requêtes de questionnement</h3>#}
{#            <p>#}
{#                Dans la page d'entrainement, les requetes de questionnement vont interroger la base de données principale.#}
{#                <br>Pour modifier la base de données, vous devez accéder à celle-ci par vos propres moyens.#}
{#                <br>Pour que celle-ci soit prise en compte, il faudra modifier la méthode requestQuery() situé dans le fichier Database/PostreSQLDriver.php.#}
{#            </p>#}

{#            <h3>Ajouter un nouveau sujet</h3>#}
{#            <p>#}
{#                Pour ajouter un nouveau sujet, il faudra ajouter un nouveau fichier dans le répertoire public/exercices/postresql.#}
{#                <br>Il faut ensuite créer un nouveau répertoire sous la forme 'sujet'.#}
{#                <br>Le fichier doit être insérer dans ce dernier au format Json et doit être nommé 'sujet.json'.#}
{#            </p>#}
        </div>
    </div>
    {% endif %}
{% endblock %}


