{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Mon avancement{% endblock %}

{% block body %}
    <div class="row">
        {{ include('user/profile/_menu.html.twig') }}
        <div class="col card">
            <h1 class="card-header">Mon avancement</h1>
            <div class="card-body">
                <h2>Liste des questions que j'ai réussi</h2>
                <ul>
                    <li>Select 1</li>
                </ul>

                <h2>Liste des questions que je n'ai pas réussi</h2>
                <ul>
                    <li>Select 1</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
