<h2 class="mt-4">Commentaires</h2>
{%  if comments is empty %}
        <span colspan="4">no records found</span>
{% else %}
        {% for comment in comments %}
                <div class="bg-white p-3 mb-2 rounded-sm shadow">
                        <h5 class="text-uppercase font-weight-bold">{{ comment.id }}</h5>
                        <span>
                                {{ comment.content }}
                        </span>
                        <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                </div>
        {% endfor %}
{% endif %}
