{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    <div class="p-4 mb-1">
        Accueil
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <h4>Bienvenue dans la partie administration</h4>

        <div class="content">
            <p class="text-primary">vous pouvez ici gérer les utilisateur <span class="text-muted">ainsi que les bases de données</span> présents sur le site</p>
        </div>
    </div>
{% endblock %}