@import "~bootstrap/scss/bootstrap";
@import "variables";

$primary: #333;
$secondary: #FFF0E5;
$blue: rgba(10, 132, 255, .5) !default;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $secondary;
}

.navbar {
  .navbar-brand {
    margin-right: 40px;
  }

  .nav-item:not(:first-child) {
    margin-left: 40px;
  }

  a.nav-link {
    font-family: "Cabin Sketch", cursive;
    font-size: 1.2em;
  }
}


.jumbotron {
  background-color: $white;
}