{% for label, messages in app.flashes(['danger', 'success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} py-4 h6">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}