<h2 class="mt-4">Commentaires</h2>
<div class="bg-white p-3 rounded-sm">
    <h5 class="text-uppercase font-weight-bold">{{ app.user.name }}</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non lorem elementum,
        accumsan magna sed, faucibus mauris. Nulla pellentesque ante nibh, ac hendrerit ante fermentum sed.
        Nunc in libero dictum, porta nibh pellentesque, ultrices dolor. Curabitur nunc ipsum, blandit vel
        aliquam id, aliquam vel velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia Curae; Sed sit amet mi dignissim, pretium justo non, lacinia libero. Nulla facilisi.
        Donec id sem velit.
    </p>
</div>