<h2 class="mt-4">Réponses attendues</h2>
<table class="table shadow" id="requested">
    <thead class="thead-dark">
    <tr>
        <th>coucou</th>
        <th>lol mdr trop cool</th>
        <th>lalalalalalala</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>coucou</td>
        <td>lol mdr trop cool</td>
        <td>lalalalalalala</td>
    </tr>
    <tr>
        <td>coucou</td>
        <td>lol mdr trop cool</td>
        <td>lalalalalalala</td>
    </tr>
    <tr>
        <td>coucou</td>
        <td>lol mdr trop cool</td>
        <td>lalalalalalala</td>
    </tr>
    </tbody>
</table>

{% block javascripts %}
    {{ encore_entry_script_tags('training') }}
{% endblock %}